/*
#444444 - black
#464647 - dark gray
#555555 - gray
#707070 - light gray
#A0A0A0 - lighter gray
#EBEBEB - lightest gray
#1B75BB - blue
*/

@font-face {
  font-family: 'outageregular';
  src: url('fonts/Outage.eot');
  src: url('fonts/Outage.eot?#iefix') format('embedded-opentype'),
       url('fonts/Outage.woff2') format('woff2'),
       url('fonts/Outage.woff') format('woff'),
       url('fonts/Outage.ttf') format('truetype'),
       url('fonts/Outage.svg#outageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'outagecut';
  src: url('fonts/Outage Cut.eot');
  src: url('fonts/Outage Cut.eot?#iefix') format('embedded-opentype'),
       url('fonts/Outage Cut.woff2') format('woff2'),
       url('fonts/Outage Cut.woff') format('woff'),
       url('fonts/Outage Cut.ttf') format('truetype'),
       url('fonts/Outage Cut.svg#outagecut') format('svg');
  font-weight: normal;
  font-style: normal;
}

BODY {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #555555;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 87.5%; /* 106% = 17px; 100% = 16px; 95% = 15px; 90% = 14px; 80% = 13px; 75% = 12px; */
  line-height: 1.4em;
  border-top: 4px solid #1B75BB;
}

IMG {
  border: 0;
}

HR {
  border: none 0;
  border-top: 4pt solid #1B75BB; /* the border */
  height: 4pt; /* whatever the total width of the border-top and border-bottom equal */
}

A:link, A:visited {
  color: #1B75BB;
  text-decoration: none;
}

A:hover, A:active {
  color: #000000;
  text-decoration: none;
}

H1 {
  font-size: 235.71%;
  line-height: 1em;
  margin-top: 0;
  font-family: 'outageregular';
}

H2 {
  font-size: 207.14%;
  line-height: 1em;
  margin: 0 0 0.5em;
  font-family: 'outageregular';
  color: #1B75BB;
}

H3 {
  font-size: 114.28%;
  line-height: 1em;
  margin: 0 0 0.4em;
}

H4 {
  font-size: 100%;
  margin: 0;
  color: #1B75BB;
}

UL, OL {
  margin: 0 0 0 0.8em;
  padding: 0 0 0 0.8em;
}

.clearfix:before, .clearfix:after,
HEADER:before, HEADER:after,
NAV:before, NAV:after { content: ""; display: table; }
.clearfix:after, HEADER:after, NAV:after { clear: both; }
.clearfix, HEADER, NAV { zoom: 1; }

HEADER,
ARTICLE,
FOOTER {
  width: 1000px;
  margin: 0 auto;
}

ARTICLE {
  margin-bottom: 2em;
}

#logo {
  float: left;
  margin: 23px 0 16px;
}

#topmenu {
  margin: 10px 0;
  text-align: right;
  font-size: 71.42%;
  line-height: 1em;
  color: #707070;
}

#topmenu A {
  color: #707070;
}

#topmenu A.linkedin {
  color: #000000;
  margin-left: 0.8em;
  font-size: 1.2em;
}

#topmenu A.linkedin .fa {
  font-size: 1.4em;
  vertical-align: middle;
}

.search {
  text-align: right;
}

.search INPUT {
  border: 1px solid #D7D7D7;
  border-right: 0;
  width: 240px;
  color: #B7B7B8;
  padding: 5px 7px;
  outline: none;
}

.search BUTTON {
  border: 1px solid #D7D7D7;
  border-left: 0;
  background: transparent;
  color: #B7B7B8;
  padding: 5px 7px;
  cursor: pointer;
}

.search BUTTON:hover {
  color: #000000;
}

.searchpage {
  text-align: center;
}

.searchpage INPUT {
  border: 1px solid #727A89;
  border-right: 0;
  color: #555555;
}

.searchpage BUTTON {
  border: 1px solid #727A89;
  border-left: 0;
  color: #1B75BB;
}

.collapse {
  height: auto;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: 0;
}

#menu-toggle {
  display: none;
  position: absolute;
  z-index: 99;
  cursor: pointer;
  border: 0;
}

#menu {
  font-size: 114.28%;
}

#menu UL {
  margin: 29px 50px 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
}

#menu UL LI {
  float: left;
  padding-right: 2em;
  position: relative;
  z-index: 99999;
}

#menu UL LI.mobile {
  display: none;
}

#menu UL LI A:link, #menu UL LI A:visited {
  color: #000000;
  text-decoration: none;
  padding-bottom: 1em;
  font-family: 'outageregular';
  line-height: 1em;
}

#menu UL LI:hover A {
  color: #1B75BB;
  text-decoration: none;
}

#menu UL LI UL {
  display: none;
}

#menu UL LI:hover UL {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  background: #000000;
  padding-top: 0.2em;
}

#menu UL LI UL LI {
  float: none;
  padding: 0.5em 1em;
}

#menu UL LI UL LI A {
  display: block;
}

#menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
  color: #1B75BB;
  padding-bottom: 0;
  border-top: 0;
}

#menu UL LI UL LI A:hover {
  color: #FFFFFF;
  border-top: 0;
}

.cycle-slideshow {
  height: 335px;
  border-top: 7px solid #000000;
  background: #000000;
  position: relative;
}

.cycle-slideshow DIV {
  width: 100%;
  height: 335px;
}

.cycle-slideshow DIV DIV {
  display: table;
  width: 980px;
  margin: 0 auto;
}

.cycle-slideshow DIV DIV DIV {
  margin: 0 auto;
  padding-right: 310px;
  width: 670px;
  height: auto;
  color: #FFFFFF;
  font-size: 114.28%;
  line-height: 1.5em;
  text-shadow: 1px 1px #000000;
  display: table-cell;
  vertical-align: middle;
}

.cycle-slideshow DIV DIV H1 {
  margin-top: 0;
  font-family: 'outagecut';
  font-size: 231.29%;
  line-height: 1em;
  text-shadow: none;
}

.cycle-slideshow DIV DIV A {
  font-weight: bold;
  font-size: 87.8%;
  text-shadow: none;
}

.cycle-pager { 
  height: 22px;
  z-index: 500;
  position: absolute;
  bottom: -6px;
  left: 48%;
  left: calc(50% - 494px);
  overflow: hidden;
}
.cycle-pager span {
  margin: 0 2px;
  font-family: arial;
  font-size: 58px;
  width: 16px;
  height: 16px; 
  display: inline-block;
  color: #000000;
  cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #1B75BB;}
.cycle-pager > * { cursor: pointer;}

#subheader {
  height: 2.76em;
  line-height: 1em;
  border-top: 7px solid #000000;
  background: #1B75BB;
  color: #FFFFFF;
  font-family: 'outageregular';
  font-size: 328.57%;
}

#subheader DIV {
  display: table;
  width: 1000px;
  height: 2.76em;
  margin: 0 auto;
}

#subheader DIV ARTICLE {
  display: table-cell;
  vertical-align: middle;
}

.metal {
  width: 100%;
  height: 28px;
  background: #EBEBEB url(../images/metal-divider.png) top center repeat-x;
}

.metal-home {
  background-color: transparent;
}

#home {
  color: #000000;
  font-size: 121.42%;
  text-align: center;
  -moz-box-sizing: border-box;    /* add padding without affecting width */
  -webkit-box-sizing: border-box; /* add padding without affecting width */
  box-sizing: border-box;         /* add padding without affecting width */
  padding: 0 5% 2.5em;
  border-bottom: 4px solid #1B75BB;
  margin: 3em auto 3em;
}

#home H1 {
  font-size: 211.76%;
  margin-bottom: 0.75em;
}

.gray {
  background: #EBEBEB;
  color: #464647;
  padding: 2.7em 0;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 4em;
  font-size: 114.28%;
}

.gray H1 {
  color: #000000;
  font-size: 206.5%;
  margin-bottom: 0.5em
}

.gray .graymenu {
  list-style-type: circle;
  font-size: 118.75%;
  font-weight: bold;
  line-height: 1.5em;
  color: #252525;
}

.gray .graymenu A:link,
.gray .graymenu A:visited {
  color: #252525;
}

.gray .graymenu A:hover,
.gray .graymenu A:active {
  color: #1B75BB;
}

.blue {
  background: #1B75BB;
  color: #FFFFFF;
  padding: 4em 0;
  margin-top: 4em;
}

.blue H2 {
  color: #FFFFFF;
}

.gray ARTICLE,
.blue ARTICLE {
  margin-bottom: 0;
}

#spiffs {
  font-size: 92.85%;
  line-height: 1.3em;
  width: 1008px;
}

.spiff {
  float: left;
  width: 31.35%;
  color: #707070;
  display: block;
  overflow: hidden;
  margin-bottom: 1.5em;
}

A.spiff:link, A.spiff:visited,
A.spiff:hover, A.spiff:active {
  color: #707070;
}

.spiff-mid {
  margin: 0 2.97% 1.5em;
}

.spiff H1 {
  margin: 0 0.8% 1em;
  color: #000000;
  font-size: 130.8%;
  white-space: nowrap;
}

.spiff-img {
  margin: 0 1% 1em;
  display: inline-block;
  box-shadow: 0px 0px 8px #AAAAAA;
  -moz-box-shadow: 0px 0px 8px #AAAAAA;
  -webkit-box-shadow: 0px 0px 8px #AAAAAA;
  line-height: 0.1em;
}

.spiff-left .spiff-img { background: url(../images/spiff-left.jpg) top left no-repeat; }
.spiff-mid .spiff-img { background: url(../images/spiff-mid.jpg) top left no-repeat; }
.spiff-right .spiff-img { background: url(../images/spiff-right.jpg) top left no-repeat; }

.spiff-img IMG {
  visibility: hidden;
}

A.spiff:hover .spiff-img IMG {
  visibility: visible;
}

.spiff-text {
  margin: 0 0.8% 1em;
  width: 98%;
  min-height: 4em;
  letter-spacing: 0.01em;
}

A.spiff:link .readmore, A.spiff:visited .readmore {
  margin: 0 0.8%;
  width: 98%;
  font-size: 0.85em;
  line-height: 1em;
  color: #1B75BB;
}

A.spiff:hover .readmore, A.spiff:active .readmore {
  color: #000000;
}

#footer-wrap {
  border-top: 5px solid #2C2C2C;
  padding: 27px 0;
  background: #000000;
  color: #FFFFFF;
  font-size: 92.85%;
  line-height: 1.4em;
}

#footer-wrap A:hover, #footer-wrap A:active {
  color: #FFFFFF;
}

.footer-left,
.footer-mid,
.footer-right {
  float: left;
  width: 30.8%;
  min-height: 12em;
}

.footer-mid {
  margin: 0 1.8%;
  padding: 0 1.8%;
  border-left: 0.08em solid #555555;
  border-right: 0.08em solid #555555;
}

.footer-right {
  font-size: 92.38%;
  line-height: 1.3em;
}

.footer-left H2,
.footer-mid H2,
.footer-right H2 {
  font-size: 230.79%;
  line-height: 1em;
  margin-bottom: 0.5em;
  color: #FFFFFF;
}

.footer-right H2 {
  font-size: 249.9%;
}

#footer-wrap .more {
  display: block;
  margin-top: 0.5em;
  font-size: 85%;
}

.phone {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 230.79%;
}

#copyright {
  float: left;
  height: 41px;
  line-height: 43px;
  font-size: 85.71%;
  color: #959595;
}

#footer-menu {
  float: right;
  text-align: right;
  height: 41px;
  line-height: 41px;
  font-size: 92.85%;
  font-weight: bold;
}

#footer-menu A:link, #footer-menu A:visited {
  color: #000000;
  margin-left: 28px;
}

#footer-menu A:hover, #footer-menu A:active {
  color: #1B75BB;
}

#footer-menu .linkedin {
  font-size: 150%;
  position: relative;
  top: 2px;
}

#backToTop {
  display: none;
}

.half-left {
  float: left;
  width: 48%;
}

.half-right {
  float: right;
  width: 48%;
}

.half-left IMG,
.half-right IMG {
  max-width: 100%;
}

.bluehead {
  color: #1B75BB;
  text-transform: uppercase;
}

#contact LABEL {
  display: none;
}

#contact INPUT[type=text],
#contact TEXTAREA {
  border: 1px solid #727A89;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555555;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 114.28%;
  height: 2.8em;
  width: 94%;
  padding: 0 0.75em;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
}

#contact TEXTAREA {
  width: 94%;
  height: 13.5em;
  padding: 0.3em 0.75em;
}

#contact BUTTON {
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #1B75BB;
  color: #FFFFFF;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 114.28%;
  font-weight: bold;
  padding: 0.76em 1.88em;
}

#contact BUTTON:hover {
  background: #555555;
}

INPUT::-webkit-input-placeholder { color: #ADACAD; }
INPUT:-moz-placeholder { color: #ADACAD; } /* FF 4-18 */
INPUT::-moz-placeholder { color: #ADACAD; } /* FF 19+ */
INPUT:-ms-input-placeholder { color: #ADACAD; } /* IE 10+ */

INPUT:focus::-webkit-input-placeholder { color: transparent; }
INPUT:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
INPUT:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
INPUT:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

TEXTAREA::-webkit-input-placeholder { color: #ADACAD; }
TEXTAREA:-moz-placeholder { color: #ADACAD; } /* FF 4-18 */
TEXTAREA::-moz-placeholder { color: #ADACAD; } /* FF 19+ */
TEXTAREA:-ms-input-placeholder { color: #ADACAD; } /* IE 10+ */

TEXTAREA:focus::-webkit-input-placeholder { color: transparent; }
TEXTAREA:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
TEXTAREA:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
TEXTAREA:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

#map-canvas {
  width: 600px;
  height: 450px;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

.embed {
  position: relative;
  padding-bottom: 100%; /* This is the aspect ratio */
  height: 0;
  overflow: hidden;
}
.embed iframe,
.embed #map-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}



@media only screen and (max-width: 800px) {
  /* Small computer or landscape tablet */
  HEADER,
  ARTICLE,
  FOOTER,
  #subheader DIV {
    width: 96%;
  }

  #menu UL {
    margin: 29px 0 0 0;
  }

  #menu UL LI:first-child {
    display: none;
  }

  #menu UL LI UL LI:first-child {
    display: block;
  }

  .cycle-slideshow DIV DIV {
    width: 95%;
  }

  .cycle-slideshow DIV DIV DIV {
    width: 100%;
    padding-right: 0;
  }

  .cycle-pager { 
    left: 2%;
  }

  #spiffs {
    width: 98%;
  }

  .spiff-left .spiff-img,
  .spiff-mid .spiff-img,
  .spiff-right .spiff-img {
    background-size: 100% auto;
  }

  .spiff-img IMG {
    width: 100%;
    height: auto;
  }

  #copyright {
    width: 30%;
    line-height: 1.2em;
    height: 2.5em;
    padding-top: 0.5em;
  }

  #footer-menu {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  /* Tablet */
}

@media only screen and (max-width: 600px) {
  /* Small tablet */
  .search INPUT {
    width: 30%;
  }

  .collapse {
    height: 0;
    overflow: hidden;
  }

  #menu-toggle {
    display: block;
    top: 1.8em;
    right: 0.2em;
    font-size: 2.9em;
    height: 1em;
    width: 1em;
  }
  
  #menu {
    position: absolute;
    top: 6.2em;
    right: 0;
  }

  #menu .fa {
    display: none;
  }

  #menu UL {
    position: relative;
    z-index: 999;
    /*background: rgb(255, 255, 255);*/ /* Fallback for older browsers without RGBA-support */
    /*background: rgba(255, 255, 255, 0.7);*/ /*background: #FFFFFF;*/
    background: #000000;
    padding: 0.8em 0;
  }

  #menu UL LI {
    float: none;
    padding-right: 0;
  }

  #menu UL LI:first-child {
    display: block;
  }

  #menu UL LI:hover A,
  #menu UL LI A:link, #menu UL LI A:visited,
  #menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
    border-top: none;
    color: #FFFFFF;
    font-size: 200%;
    width: 100%;
    height: 1.3em;
    line-height: 1.3em;
    display: block;
    padding: 0 0.8em;
  }

  #menu UL LI UL {
    display: block;
    padding: 0;
    margin-top: 0;
    width: 100%;
    background: transparent;
  }

  #menu UL LI:hover UL {
    position: static;
    padding-top: 0;
    background: transparent;
  }

  #menu UL LI UL LI {
    padding: 0;
  }

  .footer-left,
  .footer-mid,
  .footer-right {
    float: none;
    width: 98%;
    margin: 0 auto;
    min-height: 0;
  }

  .footer-mid {
    margin: 2em auto;
    padding: 2em 0;
    border: 0;
    border-top: 0.08em solid #555555;
    border-bottom: 0.08em solid #555555;
  }

  #copyright {
    width: 35%;
    padding-top: 0.9em;
    font-size: 70%;
  }

  #footer-menu {
    width: 65%;
  }
  
  #footer-menu A:link, #footer-menu A:visited {
    margin-left: 18px;
  }

  #footer-menu A:first-child {
    margin-left: 0;
  }

  .half-left,
  .half-right {
    float: none;
    width: 100%;
  }

  .half-left {
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 480px) {
  /* Phone */
  #logo {
    float: none;
    margin: 23px 2% 16px;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/logo-mobile.png) no-repeat;
    width: 71px; /* Width of new image */
    height: 83px; /* Height of new image */
    padding-left: 71px; /* Equal to width of new image */
  }

  #topmenu,
  HEADER .search {
    display: none;
  }

  #menu-toggle {
    top: 1.2em;
  }

  #menu {
    top: 8em;
    width: 100%;
  }

  #menu UL {
    margin-top: 0;
    width: 100%;
    padding-bottom: 0;
  }

  #menu UL LI.mobile {
    display: block;
  }

  #menu UL LI.menublue {
    background: #1B75BB;
    color: #FFFFFF;
    font-size: 140%;
    text-align: center;
    padding: 0.4em 0;
    margin-top: 0.4em;
  }

  #menu UL LI:hover A,
  #menu UL LI A:link, #menu UL LI A:visited,
  #menu UL LI UL LI A:link, #menu UL LI UL LI A:visited {
    text-align: center;
    padding: 0;
  }

  #menu UL LI.menublue A:link, #menu UL LI.menublue A:visited {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 100%;
    display: inline;
  }

  .spiff {
    float: none;
    width: 100%;
    margin-bottom: 2em;
  }

  .spiff-mid {
    margin: 0 0 2em;
  }

  #copyright {
    float: none;
    width: 96%;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 80%;
    text-align: center;
  }

  #copyright A {
    display: block;
  }

  #footer-menu {
    display: none;
  }

  #backToTop {
    display: block;
    position: fixed;
    bottom: 0.1em;
    right: 0.1em;
    z-index: 999;
    padding: 0.4em 0.4em;
    color: #FFFFFF;
    background: rgb(27, 117, 187); /* Fallback for older browsers without RGBA-support */
    background: rgba(27, 117, 187, 0.7); /*background: #1B75BB;*/
  }

  #contact INPUT[type=text],
  #contact TEXTAREA {
    width: 90%;
  }

  .gray H1 {
    font-size: 195%;
  }
}